body{

	background-color: skyblue;
    margin-left: 15% ;
    margin-right: 15% ;
    color: #fff ;
}
 h1{
  text-align: center;
 }

p{
text-align: justify;
font-size: 20px;
}
img{
width: 70% ;
}
figure{
	text-align: center;
}

iframe{
    margin-left: 15%;
    margin-right: 15%;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
